In [1]:
import pymrio as mr
import pandas as pd
import numpy as np
from scipy.linalg import block_diag
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
%matplotlib inline
import SPA

In [7]:
year = 2018
system = 'ixi'
EXIOBASE_PATH = '../EXIOBASE/'
# EXIOBASE_PATH = '../exiobase/'

In [8]:
exio_meta = mr.download_exiobase3(
    storage_folder=EXIOBASE_PATH,
    system=system,
    years=year,
    doi="10.5281/zenodo.4588235"
)

In [9]:
io = mr.parse_exiobase3(path=EXIOBASE_PATH + f'IOT_{year}_{system}.zip')

In [10]:
io.calc_all()

C:\Users\Gibon\.conda\envs\io\lib\site-packages\pymrio\core\mriosystem.py:878: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  Y_agg = Y.sum(level="region", axis=1).reindex(
C:\Users\Gibon\.conda\envs\io\lib\site-packages\pymrio\core\mriosystem.py:928: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  F_Y_agg = self.F_Y.sum(level="region", axis=1).reindex(
C:\Users\Gibon\.conda\envs\io\lib\site-packages\pymrio\core\mriosystem.py:878: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  Y_agg = Y.sum(level="region", axis=1).reindex(

In [51]:
y = io.Y.sum(1) * 0

In [52]:
y['FR','Other business activities (74)'] = 1

In [49]:
[i for i in io.impacts.M.index if 'GHG' in i]

['GHG emissions (GWP100) | Problem oriented approach: baseline (CML, 2001) | GWP100 (IPCC, 2007)',
 'GHG emissions (GWP100) | Problem oriented approach: baseline (CML, 1999) | GWP100 (IPCC, 2007)',
 'GHG emissions (GWP100min) | Problem oriented approach: non baseline (CML, 1999) | net GWP100 min(Houghton et al., 2001)',
 'GHG emissions (GWP100max) | Problem oriented approach: non baseline (CML, 1999) | net GWP100 max(Houghton et al., 2001)',
 'GHG emissions (GWP20) | Problem oriented approach: non baseline (CML, 1999) | GWP20 (IPCC, 2007)',
 'GHG emissions (GWP500) | Problem oriented approach: non baseline (CML, 1999) | GWP500 (IPCC, 2007)',
 'GHG emissions AR5 (GWP100) | GWP100 (IPCC, 2010)']

In [43]:
ind = ( 'Water Consumption Blue - Agriculture',)
io.impacts.M.loc[ind]

region  sector
AT      Cultivation of paddy rice                              0.000000
        Cultivation of wheat                                   0.003670
        Cultivation of cereal grains nec                       0.008295
        Cultivation of vegetables, fruit, nuts                 0.026010
        Cultivation of oil seeds                               0.008622
                                                                 ...
WM      Activities of membership organisation n.e.c. (91)      0.018278
        Recreational, cultural and sporting activities (92)    0.019562
        Other service activities (93)                          0.026868
        Private households with employed persons (95)          0.014332
        Extra-territorial organizations and bodies             0.000000
Name: Water Consumption Blue - Agriculture, Length: 7987, dtype: float64

In [50]:
[i for i in io.Y.index if "usiness" in i[1]]

[('AT', 'Other business activities (74)'),
 ('BE', 'Other business activities (74)'),
 ('BG', 'Other business activities (74)'),
 ('CY', 'Other business activities (74)'),
 ('CZ', 'Other business activities (74)'),
 ('DE', 'Other business activities (74)'),
 ('DK', 'Other business activities (74)'),
 ('EE', 'Other business activities (74)'),
 ('ES', 'Other business activities (74)'),
 ('FI', 'Other business activities (74)'),
 ('FR', 'Other business activities (74)'),
 ('GR', 'Other business activities (74)'),
 ('HR', 'Other business activities (74)'),
 ('HU', 'Other business activities (74)'),
 ('IE', 'Other business activities (74)'),
 ('IT', 'Other business activities (74)'),
 ('LT', 'Other business activities (74)'),
 ('LU', 'Other business activities (74)'),
 ('LV', 'Other business activities (74)'),
 ('MT', 'Other business activities (74)'),
 ('NL', 'Other business activities (74)'),
 ('PL', 'Other business activities (74)'),
 ('PT', 'Other business activities (74)'),
 ('RO', 'Other business activities (74)'),
 ('SE', 'Other business activities (74)'),
 ('SI', 'Other business activities (74)'),
 ('SK', 'Other business activities (74)'),
 ('GB', 'Other business activities (74)'),
 ('US', 'Other business activities (74)'),
 ('JP', 'Other business activities (74)'),
 ('CN', 'Other business activities (74)'),
 ('CA', 'Other business activities (74)'),
 ('KR', 'Other business activities (74)'),
 ('BR', 'Other business activities (74)'),
 ('IN', 'Other business activities (74)'),
 ('MX', 'Other business activities (74)'),
 ('RU', 'Other business activities (74)'),
 ('AU', 'Other business activities (74)'),
 ('CH', 'Other business activities (74)'),
 ('TR', 'Other business activities (74)'),
 ('TW', 'Other business activities (74)'),
 ('NO', 'Other business activities (74)'),
 ('ID', 'Other business activities (74)'),
 ('ZA', 'Other business activities (74)'),
 ('WA', 'Other business activities (74)'),
 ('WL', 'Other business activities (74)'),
 ('WE', 'Other business activities (74)'),
 ('WF', 'Other business activities (74)'),
 ('WM', 'Other business activities (74)')]

In [53]:
# Settings to run the SPA
region = 'FR'
ind = ('GHG emissions (GWP100) | Problem oriented approach: baseline (CML, 2001) | GWP100 (IPCC, 2007)')

scale = 1 # in Mtons

paths = SPA.SPA(io.impacts.S.loc[ind]*scale,
            io.A,
            y=y,
            Tmax=30,
            threshold=.0001,
            filename='output/test.csv',
            M=io.impacts.M.loc[ind]*scale)

In [48]:
paths.loc[:10,:]

,sequence,value,contribution,path
TOTAL,[],0.005532,1.0,[]
REST,[],0.002429,0.439062,[]
1071,"[1676, 4936, 4891]",0.000404,0.073087,"[(FR, Manufacture of textiles (17)), (CN, Manu..."
1089,"[1676, 4936, 4936, 4891]",0.000175,0.031713,"[(FR, Manufacture of textiles (17)), (CN, Manu..."
1099,"[1676, 4936, 4936, 4936, 4891]",0.000076,0.013761,"[(FR, Manufacture of textiles (17)), (CN, Manu..."
...,...,...,...,...
951,"[1676, 3486]",0.0,0.000001,"[(FR, Manufacture of textiles (17)), (PL, Manu..."
1889,"[1676, 7707, 7671, 7671]",0.0,0.000001,"[(FR, Manufacture of textiles (17)), (WF, Manu..."
437,"[1676, 1676, 209, 209]",0.0,0.000001,"[(FR, Manufacture of textiles (17)), (FR, Manu..."
2014,"[1676, 7866]",0.0,0.000001,"[(FR, Manufacture of textiles (17)), (WM, Proc..."
10,"[1676, 209, 209, 209]",0.0,0.000001,"[(FR, Manufacture of textiles (17)), (BE, Manu..."